<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
    <link rel="stylesheet" href="/public/Style/history.css">
</head>
<body>
    <nav>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.9999 18L8.99994 12L14.9999 6" stroke="black" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <h2>คำสั่งซื้อของฉัน</h2>
    </nav>

    <div class="recently">
        <p>เพิ่งสั่ง</p>
        <div class="recently_container">
            <div class="detail">
                <p class="date"><%= recent_order.time.date %>, <%= recent_order.time.time %>น.</p>
                <p>รายการอาหารที่: <%= recent_order.queue %> / จำนวน: <%= recent_order.amount %></p>
                <div>
                    <p><a><u><%= recent_order.status.price %></u></a></p>
                    <p  class="recently_price">฿<%= recent_order.price %></p>
                </div>
                <h3><%= recent_order.status.status %></h3>
            </div>
        </div>
    </div>

    <div class="history">
        <div>
            <p>ประวัติคำสั่งซื้อล่าสุด</p>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9999 18L8.99994 12L14.9999 6" stroke="black" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <% for(let i = 0; i< history.length; i++) { %>
        <div class="slip">
            <p class="date"><%= history[i].time.date %>, <%= history[i].time.time %>น.</p>
            <p>รายการอาหารที่: <%= history[i].queue %> / จำนวน: <%= history[i].amount %></p>
            <p><a><u>สั่งซื้อรายการนี้ซ้ำ</u></a></p>
        </div>
        <% } %>
    </div>
</body>
</html>