<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My chart</title>
    <link rel="stylesheet" href="/public/Style/myChart.css">
</head>
<body>
    <nav>
        <div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9999 18L8.99994 12L14.9999 6" stroke="black" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h2>ตะกร้าของฉัน</h2>
        </div>
        <p><a href="#"><u>แก้ไข</u></a></p>
    </nav>

    <div class="container">
        <% for(let i =0; i <orders.length; i++) { %>
        <div class="merchandise">
            <div>
                <div class="detail">
                    <div class="img"></div>
                    <div>
                        <h3><%= orders[i].name %></h3>
                        <p><%= orders[i].flavour %></p>
                    </div>
                </div>
                <div>
                    <div class="merchandise_amount_container">
                        <p class="minus" onclick="minus()">-</p>
                        <p class="merchandise_amount" id="amount_<%= i %>"><%= orders[i].amount %></p>
                        <p class="add" onclick="add()">+</p>
                    </div>
                    <div>
                        <p>ราคา: <span>฿<%= orders[i].price %></span></p>
                    </div>
                </div>
            </div>
            <hr>
            <p>หมายเหตุ: <%= orders[i].note %></p>
        </div>
        <% } %>
        <div class="merchandise">
            <div>
                <div class="detail">
                    <div class="img"></div>
                    <div>
                        <h3>โตเกียว</h3>
                        <p>เค็ม</p>
                    </div>
                </div>
                <div>
                    <div class="merchandise_amount_container">
                        <p class="minus">-</p>
                        <p class="merchandise_amount">2</p>
                        <p class="add">+</p>
                    </div>
                    <div>
                        <p>ราคา: <span>฿20</span></p>
                    </div>
                </div>
            </div>
            <hr>
            <p>หมายเหตุ: ไม่มี</p>
        </div>
        <div class="merchandise">
            <div>
                <div class="detail">
                    <div class="img"></div>
                    <div>
                        <h3>โตเกียว</h3>
                        <p>เค็ม</p>
                    </div>
                </div>
                <div>
                    <div class="merchandise_amount_container">
                        <p class="minus">-</p>
                        <p class="merchandise_amount">2</p>
                        <p class="add">+</p>
                    </div>
                    <div>
                        <p>ราคา: <span>฿20</span></p>
                    </div>
                </div>
            </div>
            <hr>
            <p>หมายเหตุ: ไม่มี</p>
        </div>
    </div>

    <footer>
        <div>
            <p>ชื่อผู้สั่ง</p>
            <p><a><u>แก้ไข</u></a></p>
        </div>
        <form>
            <input type="text" name="customer_name" placeholder="ดีเจโอ๋เอ๋ สบัดพุง">
            <div>
                <p>รวมทั้งหมด: <span>20฿</span></p>
                <div>
                    <p><a><u>breakdown </u></a><span>></span></p>
                </div>
            </div>
            <button type="submit">เลือกวิธีการชำระเงิน</button>
        </form>
    </footer>
    <script src="/public/script/style/myChart.js"></script>
</body>
</html>