<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Style/Seller_manipulation.css" />
  </head>
  <body>
    <nav>
      <div class="top">
        <img src="IMAGE/Logo/TYICT White.svg" />
        <hr />
        <h3>ระบบจัดการร้านโตเกียว ICT</h3>
      </div>

      <div class="status">
        <p>สถานะร้าน:</p>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider"></span>
        </label>
        <p><%= seller_manipulation.Store_status %></p>
      </div>

      <div class="choice">
        <a href="/public/html/Seller_dashboard.html"><div class="options" id="option_dashboard">
          <svg
            width="34"
            height="34"
            viewBox="0 0 34 34"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.7559 21.2113L14.9082 15.8146L19.6446 19.5351L23.708 14.2908"
              stroke="white"
              stroke-width="2.08092"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <circle
              cx="28.4444"
              cy="6.5321"
              r="2.66662"
              stroke="white"
              stroke-width="2.08092"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M21.4097 5.03369H11.3273C7.14964 5.03369 4.5592 7.99237 4.5592 12.1701V23.3826C4.5592 27.5603 7.09884 30.5063 11.3273 30.5063H23.2637C27.4414 30.5063 30.0318 27.5603 30.0318 23.3826V13.6177"
              stroke="white"
              stroke-width="2.08092"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <h3>แดชบอร์ด</h3>
        </div></a>
        <a href="/public/html/Seller_order_list.html"><div class="options" id="option_order">
          <svg
            width="34"
            height="34"
            viewBox="0 0 34 34"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24.1028 31.1668H12.2767C7.93269 31.1668 4.60012 29.5978 5.54673 23.2828L6.64894 14.7244C7.23246 11.5734 9.24238 10.3674 11.0059 10.3674H25.4254C27.2149 10.3674 29.1081 11.6642 29.7824 14.7244L30.8846 23.2828C31.6886 28.8846 28.4468 31.1668 24.1028 31.1668Z"
              stroke="white"
              stroke-width="2.125"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M24.2973 10.0561C24.2973 6.67585 21.5571 3.9356 18.1768 3.9356V3.9356C16.549 3.9287 14.9856 4.5705 13.8322 5.71907C12.6787 6.86763 12.0303 8.42835 12.0303 10.0561H12.0303"
              stroke="white"
              stroke-width="2.125"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M22.3782 16.436H22.3133"
              stroke="white"
              stroke-width="2.125"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14.1181 16.436H14.0533"
              stroke="white"
              stroke-width="2.125"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <h3>ออเดอร์</h3>
        </div></a>
        <div class="options" id="option_menu">
          <svg
            width="38"
            height="38"
            viewBox="0 0 38 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.3969 25.1841H13.189"
              stroke="#ED3333"
              stroke-width="2.06979"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M24.3969 18.6854H13.189"
              stroke="#ED3333"
              stroke-width="2.06979"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M17.4659 12.2015H13.1892"
              stroke="#ED3333"
              stroke-width="2.06979"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24.6956 4.26855C24.6956 4.26855 12.7783 4.27476 12.7596 4.27476C8.47516 4.30115 5.8222 7.12021 5.8222 11.4202V25.6955C5.8222 30.0173 8.49534 32.8472 12.8171 32.8472C12.8171 32.8472 24.7328 32.8425 24.753 32.8425C29.0375 32.8161 31.692 29.9955 31.692 25.6955V11.4202C31.692 7.09848 29.0173 4.26855 24.6956 4.26855Z"
              stroke="#ED3333"
              stroke-width="2.06979"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <h3>จัดการเมนู</h3>
        </div>
      </div>
      <p><a href="#">ออกจากระบบ</a></p>
    </nav>
    <div class="container">
      <div class="top">
        <h2>รายการเมนูอาหาร</h2>
        <div class="sort">
          <div class="text">
            <p>ทั้งหมด</p>
            <p>โตเกียว</p>
            <p>ลูกชิ้นทอด</p>
            <p>เครื่องดื่ม</p>
          </div>
        </div>
        <hr />
        <button>+ เพิ่มเมนูอาหาร</button>
      </div>
      <div class="menus">
        <div class="menu">
            <img class="img" src=<%= seller_manipulation.Img_menus %>>
            <div class="detail">
                <div class="tag">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_552_196" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
                    <rect width="20" height="20" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_552_196)">
                    <path d="M17.8333 11.8751L11.875 17.8334C11.7083 18.0001 11.5208 18.1251 11.3125 18.2084C11.1041 18.2917 10.8958 18.3334 10.6875 18.3334C10.4791 18.3334 10.2708 18.2917 10.0625 18.2084C9.85413 18.1251 9.66663 18.0001 9.49996 17.8334L2.14579 10.4792C1.99301 10.3265 1.87496 10.1494 1.79163 9.948C1.70829 9.74661 1.66663 9.5348 1.66663 9.31258V3.33341C1.66663 2.87508 1.82982 2.48272 2.15621 2.15633C2.4826 1.82994 2.87496 1.66675 3.33329 1.66675H9.31246C9.53468 1.66675 9.74996 1.71189 9.95829 1.80216C10.1666 1.89244 10.3472 2.01397 10.5 2.16675L17.8333 9.52091C18 9.68758 18.1215 9.87508 18.1979 10.0834C18.2743 10.2917 18.3125 10.5001 18.3125 10.7084C18.3125 10.9167 18.2743 11.1216 18.1979 11.323C18.1215 11.5244 18 11.7084 17.8333 11.8751ZM10.6875 16.6667L16.6458 10.7084L9.29163 3.33341H3.33329V9.29175L10.6875 16.6667ZM5.41663 6.66675C5.76385 6.66675 6.05899 6.54522 6.30204 6.30216C6.5451 6.05911 6.66663 5.76397 6.66663 5.41675C6.66663 5.06953 6.5451 4.77439 6.30204 4.53133C6.05899 4.28828 5.76385 4.16675 5.41663 4.16675C5.0694 4.16675 4.77427 4.28828 4.53121 4.53133C4.28815 4.77439 4.16663 5.06953 4.16663 5.41675C4.16663 5.76397 4.28815 6.05911 4.53121 6.30216C4.77427 6.54522 5.0694 6.66675 5.41663 6.66675Z" fill="#ED3333"/>
                    </g>
                    </svg>
                    <p><%= seller_manipulation.Tagmenu %></p>
                </div>
                <p class="name"><%= seller_manipulation.Menusname %></p>
                <p class="menu_detail">รายละเอียด:<%= seller_manipulation.Detail %></p>
                <p>ราคา: <span><%= seller_manipulation.Price %>฿</span></p>
            </div>
            <div class="marker">
                <div class="edit">
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_552_181)">
                    <path d="M9.91667 24.0833V14.0675L19.7342 4.25H7.08333C5.525 4.25 4.25 5.525 4.25 7.08333V26.9167C4.25 28.475 5.525 29.75 7.08333 29.75H26.9167C28.475 29.75 29.75 28.475 29.75 26.9167V14.2658L19.9325 24.0833H9.91667Z" fill="white"/>
                    <path d="M12.75 21.2501H18.7567L28.9567 11.0501L22.95 5.04346L12.75 15.2435V21.2501Z" fill="white"/>
                    <path d="M32.4558 3.52742L30.4583 1.52992C29.3533 0.424922 27.5542 0.424922 26.4492 1.52992L24.9475 3.03159L30.9542 9.03826L32.4558 7.53659C33.575 6.43159 33.575 4.63242 32.4558 3.52742Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_552_181">
                    <rect width="34" height="34" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>แก้ไข</p>
                </div>
                <div class="delete">
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_557_437)">
                    <mask id="mask0_557_437" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-1" y="-2" width="36" height="36">
                    <rect x="-1" y="-2" width="36" height="36" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_557_437)">
                    <path d="M9.5 29.5C8.675 29.5 7.96875 29.2063 7.38125 28.6188C6.79375 28.0312 6.5 27.325 6.5 26.5V7H5V4H12.5V2.5H21.5V4H29V7H27.5V26.5C27.5 27.325 27.2063 28.0312 26.6188 28.6188C26.0312 29.2063 25.325 29.5 24.5 29.5H9.5ZM24.5 7H9.5V26.5H24.5V7ZM12.5 23.5H15.5V10H12.5V23.5ZM18.5 23.5H21.5V10H18.5V23.5Z" fill="#ED3333"/>
                    </g>
                    </g>
                    <defs>
                    <clipPath id="clip0_557_437">
                    <rect width="34" height="34" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>ลบ</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
